font-family: 'Cookie', cursive;
font-family: 'Noto Sans JP', sans-serif;

html {
  min-height: 100%;
  width: 100%;
}
/*-----header-----*/
body{
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgb(160, 160, 160);
}
.background{
  width: 100%;
  min-height: 100%;
  height: inherit !important;
  position: fixed;
  background-image: url(pictures/PSX_20210523_234116.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 0.45;
  z-index: 0;
}
header {
  background-color: rgb(160, 160, 160);
  width: 100%;
}
.indexheader{
  background-color: transparent;
}
.title {
  position: relative;
  z-index: 1;
  padding: 20px 0 5px 10px;
  font-family: "Cookie";
}

.title h1 {
  display: inline;
  font-weight: 300;
  margin: 0;
  color: white;
  font-size: 3.5em;
}
/*背景を文字でくりぬく*/
/*  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 3em;
  letter-spacing: -0.1em;
  -webkit-background-clip: text;
  width: 100%;
  background-image: url(shefuyutaphotos/PSX_20200529_201911.jpg);
  background-size: cover;*/

/* -----menu----- */
.menu {
position: relative;
z-index: 1;
list-style-type: none;
width: inherit;
height: 60px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;

/*グラデーション*/
/*  background: -webkit-linear-gradient(bottom, transparent, rgb(130, 130, 130) 60%, rgb(130, 130, 130) 100%, transparent);*/
}
.menu > li > a {
z-index: 1;
position: relative;
text-align: center;
text-decoration: none;
display: inline-block;
letter-spacing: -0.025em;
font-size: 1.15mem;
width: 10%;
color: white;
font-family: Arial Black;
height: 25px;
padding-top: 10px;
}
.menuunderline {
z-index: 1;
position: absolute;
width: inherit;
height: 36px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
border-top-width: 0;
border-bottom-width: 2px;
border-bottom-color: white;
border-bottom-style: solid;
opacity: 0.3;
}
.menulist{
  /* position: relative; */
  hight: 38px;
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: -0.5px 0 21.5px 0;
  width: 100%;
  padding: 0;
  letter-spacing: -0.025em;
  z-index: 3;
}

.menulist > li {
  height: 25px;
  position: relative;
  padding: 10px 0 1.25px 0;
  width: 10%;
  text-align: center;
}

.menulist a {
  text-decoration: none;
  letter-spacing: -0.025em;
  font-size: 1.1em;
  color: white;
  font-family: Arial Black;
}


.currentpage {
font-weight: 900;
border-bottom-width: 2px;
border-bottom-color: white;
border-bottom-style: solid;
}

.move{font-weight: 700;}
.submenu{
  overflow: hidden;
  position: absolute;
  padding: 3px 0 0 2px;
  text-align: center;
  min-height: 0;
  left: 40%;
  height: 0;
  z-index: 3;
  list-style-type: none;
  transition: min-height 0.4s;
}

.sideline{
  position: absolute;
  display: block;
  opacity: 0.3;
  border-left: 3px;
  border-left-color: white;
  border-left-style: solid;
  width: 3px;
  min-height: inherit;
  height: inherit;
  z-index: 1;
}

.submenu > li{
  width: 10%;
  opacity: 0.8;
  padding-left: 7px;
  z-index: 3;
}

.submenu li a {
  color: white;
}
.submenu li:hover{
  opacity: 1;
  border-left: 3px;
  border-left-color: white;
  border-left-style: solid;
}

.submenu li: hover a{
  opacity: 1;
}
.submenu.active{
  min-height: 125px;
}

/*-----indexcontainer-----*/
.indexcontainer{
    display: flex;
    background-color: rgb(160, 160, 160);
    width: 100%;
    min-height: 100%;
    justify-content: center;
    z-index: 1;
}

.message {
  width: 80%;
  margin: 120px 0 120px 0;
  display: flex;
  justify-content: top;
  align-items: left;
  flex-direction: column;
  font-size: 1.5vw;
  color: white;
  z-index: 1;
  z-index: 1;
}

.message:not(:first-child) {
  paddingtop: 10%;
}

/* -----container----- */
.container {
  top: 135px;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
}

/* ------blog----- */
.blogmenu {
    position: relative;
    margin-left: 10%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    width: 16%;
}

#tabs{padding: 0;}

.blogtopics {
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: 900;
  list-style-type: none;
  transition: all 0.3s ease-out;
  padding-left: 3px;
}

.blogtopics.active {
  background-color: rgba(230, 230, 230, 0.55);
  border-left: 5px;
  border-left-color: white;
  border-left-style: solid;
}

.topics {
  display: none;
}
.topics.shown {
  margin: 8% 0;
  background-color: rgba(230, 230, 230, 0.55);
  width: 50%;
  position: relative;
  display:flex;
  flex-direction: column;
}
.topics ul{
list-style-type: none;
}

.topics li{
  margin-bottom: 10%;
}

.topics a {
  text-decoration: none;
  color: black;
  font-family: Arial black;
  font-weight: bold;
  font-size: 1.3vw;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/* -----blog content----- */

.blogtitle {
  font-family: Arial Black;
  color: black;
}

.blogcontent {
  margin: 8% 0;
  padding: 2% 5%;
  background-color: rgba(230, 230, 230, 0.55);
  width: 50%;
  height: auto;
  position: relative;
  z-index: 1;
}
.blogcontent a{
  list-style-type: none;
  text-decoration: none;
  font-family: Arial Black;
  color: black;
}

.index {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.bloglist {
  overflow: hidden;
  position: absolute;
  padding: 3px 0 0 2px;
  min-height: 0;
  left: 5%;
  height: 0;
  z-index: 3;
  list-style-type: none;
  transition: min-height 0.4s;
}
.bloglist.shownlist {
  height: auto;
  display: block;
}
.bloglist ul {list-style-type: none;}
.bloglist a {
  color: black;
  font-family: Arial Black;
  text-decoration: none;
}

/*-----footer-----*/
footer {
  background-color:transparent;
  width: 100%;
  position: absolute;

}

.links {
  padding: 25px 0 48px 0;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  position: relative;
  justify-content: center;
}

.links div {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 3% 0 3%;
}
.links a {color: rgb(160, 160, 160);}
.links i {padding auto;}

.ig {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: -4.75%;
}
.iglink:hover {
  background: -webkit-radial-gradient(33% 100%, circle farthest-corner, #ffda75 21%, #ff3a49 43%, #ff3a49 48%, #e518a1 55%, #6634e1 100%);
  opacity: 0.95;
}
.links div:hover a{color: white;}

.twitter {
  font-size: 20px;
  margin-bottom: -2.5%;
}

.twitterlink:hover {
  background-color: rgb(0, 172, 237);
  color: white;
  opacity: 0.95;
}

.tumblr {font-size: 18px;}

.tumblrlink:hover {
  background-color: rgb(53, 70, 92);
  color: white;
  opacity: 0.95;
}

.reference {
  position: absolute;
  bottom: 1px;
  right:2px;
  width: 100%;
  text-align: right;
}
.reference a {
  font-size: 6px;
  text-decoration: none;
  color: white;
}
