.menulist{
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  width: 100%;
  padding: 0;
  letter-spacing: -0.025em;
}

.menulist a {width: 10%;}
