.menulist{
  position: relative;
  z-index: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.menulist li{
  display: inline-block;
  letter-spacing: -0.025em;
  font-size: 1.1em;
  width: 10%;
}
